email-validator==2.2.0
fastapi==0.114.2
fastapi-cli==0.0.5
httptools==0.6.1
importlib-metadata==8.0.0
importlib-resources==6.4.0
itsdangerous==2.2.0
jaraco.text==3.12.1
jinja2==3.1.4
openai==1.45.0
ordered-set==4.1.0
orjson==3.10.7
packaging==24.1
pip-chill==1.0.3
platformdirs==4.2.2
pydantic-extra-types==2.9.0
pydantic-settings==2.5.2
python-multipart==0.0.9
pyyaml==6.0.2
retell-sdk==4.5.0
tomli==2.0.1
ujson==5.10.0
uvloop==0.20.0
watchfiles==0.24.0
websockets==13.0.1
